%a.btn.btn-link{href:'/admin/workshops'}
  <- Atölyeler
%h2
  = @workshop.product.name
%table.table
  %tr
    %th Id
    %th Type
    %th İsim
    %th Telefon
    %th E-mail
    %th Organization
    %th Meslek
    %th Adres
    %th Sehir
    %th
  - @applicants.each do |applicant|
    %tr
      %td
        = applicant.id
      %td
        = applicant_type applicant
      %td
        = "#{applicant.name} #{applicant.surname}"
      %td
        = applicant.phone
      %td
        = applicant.email
      %td
        = applicant.organization
      %td
        = applicant.occupation
      %td
        = applicant.city
      %td
        %a{href:"/admin/applicant/#{applicant.id}"}
          Detaylar
