%a.btn.btn-link{href:'/admin'}
  <- Ana sayfa
%h2
  = "#{@applicant.name} #{@applicant.surname} #{@workshops.length}"
.row
  .col-lg-6
    %table.table
      
      %tr
        %th E-mail
        %td
          = @applicant.email
      %tr
        %th Tckn
        %td
          = @applicant.tckn
      %tr
        %th Dogum Tarihi
        %td
          = @applicant.birthday
      %tr
        %th Telefon
        %td
          = @applicant.phone

      %tr
        %th Meslek
        %td
          = @applicant.occupation
      %tr
        %th Adres
        %td
          = @applicant.address
      %tr
        %th Şehir
        %td
          = @applicant.city
      %tr
        %th Geçmiş Katılım
        %td
          = previous_attendances @applicant

      %tr
        %th Nereden Duydu
        %td
          =  @applicant.haberdar_olunan_yer
      
      %tr
        %th Atölyeler
        %td
          - (@workshops).each do |w|
            %div #{w.product.name}
      %tr
        %th Kongre
        %td
          - if @applicant.receipts.take 
            = (@applicant.receipts.take.receipt_products).each do |rp|
              - if rp.product.product_type == 'attendance'
                = 'Katılıyor'
- if @presentation
  .row
    .col-lg-8
      %h4 Sunum
      %table.table
        %tr
          %th Çalışmanın Amacı
          %td
            = @presentation.purpose
        %tr
          %th Çalışmanın Kapsamı
          %td
            = @presentation.content
        %tr
          %th Çalışmanın Hedef Kitlesi
          %td
            = @presentation.audience
