%h2
  Kongre Basvuruları
%table.table
  %tr
    %th Id
    %th Type
    %th İsim
    %th Soyisim
    %th Meslek
    %th Adres
    %th Sehir
    %th
  - @applicants.each do |applicant|
    %tr
      %td
        = applicant.id
      %td
        = applicant.applicant_type
      %td
        = applicant.name
      %td
        = applicant.surname
      %td
        = applicant.occupation
      %td
        = applicant.address
      %td
        = applicant.city
      %td
        %a{href:"/admin/applicant/#{applicant.id}"}
          Detaylar
