= render :partial => 'partials/links'

-if request.url.include? 'presenter'
  %p
    %a{href:"/admin/get_presentations_as_word"}
      Konuşmacı Başvurularını indir
= form_tag receiptsxlsx_path, :method => :get do
  = submit_tag "Katılımcıları indir"
  
%h2
  Kongre Basvuruları
%table.table
  %tr
    %th Id
    %th İsim
    %th Meslek
    %th Telefon
    %th Adres
    %th Sehir
    %th
  - @applicants.each do |applicant|
    %tr
      %td
        = applicant.id
      %td
        = "#{applicant.name} #{applicant.surname}"
      %td
        = applicant.occupation
      %td
        = applicant.phone      
      %td
        = applicant.city
      %td
        %a{href:"/admin/applicants/#{applicant.id}"}
          Detaylar
