- @workshops.each do |workshop|
  %hr
  .row
    .col-lg-1
      = workshop.id
  .row
    .col-lg-12
      = workshop.product.name
  .row
    .col-lg-3
      = workshop.start_at.in_time_zone("Istanbul")
    .col-lg-3
      = workshop.finish_at.in_time_zone("Istanbul")
  .row
    .col-lg-1
      = workshop.product.price
    .col-lg-4
      = workshop.moderator
