- @workshops.each do |workshop|
  %hr
  .row
    .col-lg-1
      = workshop.id
  .row
    .col-lg-12
      = workshop.product.name
  .row
    .col-lg-3
      = workshop.start_at.in_time_zone("Istanbul").strftime('%d.%m.%Y')
      = workshop.start_at.in_time_zone("Istanbul").strftime('%H:%M') - workshop.finish_at.in_time_zone("Istanbul").strftime('%H:%M')
  .row
    .col-lg-1
      #{workshop.product.price/100} TL
    .col-lg-4
      = workshop.moderator
