%html
  %body
    %p
      Değerli Katılımcımız,
    %p
      Türkiye Zeka Vakfı ve ODTÜ Eğitim Fakültesi olarak bu yıl altıncısını düzenlediğimiz Zeka ve Yetenek Kongresinde sizleri ağırlayacağımız için mutlu ve heyacanlıyız.
    %p
      Kayıtları ve kongre sürecini kolaylaştırmak için bazı hatırlatmalarımız olacak.
    %p
      ODTÜ girişlerinde kimlik kontrolü yapılmaktadır. Bu nedenle kayıt saatinden en az 45 dakika önce ODTÜ giriş kapılarında olmanızı öneririz. Ayrıca, ihtiyaç dâhilinde ve gerekli görüldüğü durumlarda araçların bagaj kontrolü yapılabilir.
    %p
      Kongre için Cumartesi ve Pazar günleri A1 kapısından (Eskişehir Yolu Girişi) servis kalkacaktır. Aynı şekilde kongre bitiminde de A1 kapısına servislerimizle ulaşabilirsiniz. Servis saatlerimiz aşağıdaki tablolarda mevcuttur.
    %table{border: 1}
      %tbody
        %tr
          %td A1 Servisi
          %td A1-KKM
          %td KKM-A1
        %tr
          %td Cumartesi
          %td 08:15
          %td 17:15
        %tr
          %td Pazar
          %td 09:45
          %td 17:15
    %p
      Kültür Kongre Merkezinde vestiyer bulunmamaktadır. Eşyalarınızı fuaye alanında vestiyer bölümüne bırakabilmeniz elbette mümkündür fakat etkinliğimiz sorumluluk sahibi değildir.
    %p
      Kültür Kongre Merkezi’nde maalesef çocuk bakım odası bulunmamaktadır.
    %p
      Kültür Kongre Merkezinde mescit bulunmamaktadır. En yakın mescit ODTÜ Kütüphane’de yer almaktadır.
    %h4
      Hava Durumu
    %p
      Kongre günlerinde az bulutlu bir hava öngörülmektedir. 29 Eylül Cumartesi ve 30 Eylül Pazar günü en yüksek sıcaklığın 26°, en düşük sıcaklığın 11° olacağı tahmin ediliyor. Gündüzün sıcak, akşamların ise soğuk olabileceğini göz önünde bulundurarak giyinmenizi tavsiye ederiz.
    %h4
      Nerede Yemek Yemeli?
    %p
      Kongre’de öğle aralarında size vereceğimiz yemek kutusunun yanı sıra; ODTÜ Çarşısında yer alan (yürüyerek 5 dakikalık mesafe) restoranları da tercih edebililirsiniz. Ayrıca, etkinlik sonrası güzel vakit geçirmek ya da yemek yemek için gidebileceğiniz yerleri listeledik:
    %p
      %b Armada:
      Eskişehir yolu üzerinde bulunan Armada Hayat Sokağında birçok yeni nesil restoran var. Armada’ya ulaşmak için Eskişehir yolundan geçen toplu taşıma araçlarını kullanabilir ya da Çayyolu metrosunu  kullanarak Söğütözü durağında inebilirsiniz.
    %p
      %b Tunalı Hilmi Caddesi:
      Ankara’nın en eski ve ünlü caddelerinden olan Tunalı’da birçok cafe ve restoran yer alıyor.
    %p
      %b Kentpark-Cepa:
      ODTÜ A1 kapısına 10 dakikalık yürüme mesafesinde olan AVM’lerde yemek yiyebilir, alışveriş yapabilir ya da sinemaya gidebilirsiniz.
    %p
      %b Bilkent Ankuva ve Bilkent Station:
      Birbirinden lezzetli yiyeceklerin yer aldığı cafe, restoran ve eğlence mekanları ile her kesimden insanın keyifli vakit geçireceği bir buluşma noktasıdır.
    %p
      %b Kızılay:
      Ankara’da hemen her yeri birbirine bağlayan Kızılay; her türden ihtiyaç ve tercihe cevap veriyor. İsterseniz geleneksel, isterseniz yeni nesil alternatifler bulabilirsiniz.
    %p
      Kayıtlarımız Cumartesi günü 08:15&#39;te başlıyor. Sizinle buluşacağımız için sabırsızlanıyor; verimli bir Kongre geçirmenizi diliyoruz.
    %p
      %b ÖNEMLİ NOT:
      Konuşma salonuna yaka giriş kartı olmayan katılımcılar alınmayacaktır. Kimlik kartınızın etkinlik süresince boynunuzda olduğunuzdan lütfen emin olunuz
    %p
      = "Son olarak; Kongre kimlik kartı numaranız #{@card_number} dir. Bu numara ile kongre çantanızı alabilirsiniz. alabilirsiniz. Diğer katılımcıları da göz önünde bulundurarak çanta ve eşyalarınız için yanınızdaki koltukları kullanmamanız gerektiğini şimdiden hatırlatmak isteriz."
    %p
      %a{:href => "http://kongre.tzv.org.tr/2018/kongre-programi-2018.pdf"} Kongre programı için tıklayınız.
    %p
      Kongre hashtagimiz #BenBilmemBeyinBilir; dilerseniz sosyal medyamızı takip ederek paylaşım yapabilirsiniz, memnun oluruz:)
    %p
      = "#{@workshops.length > 0 ? 'Atölyeleriniz:' : ''}"
    %table{border:1,width:'100%'}
      - @workshops.each do |r|
        %tr
          %td
            = "#{r}"
    %p
      Sevgi ve saygılarımızla,
