%html
  %body
    %p
      Merhaba
    %table{border:1,width:'100%'}
      %tr
        %td
          2022 Toplam Katılımcı Sayısı
        %td
          = @receipts_this_year_sum
      %tr
        %td
          = "2019 Katılımcı #{@diff}. Günü Toplam Katılımcı Sayısı"
        %td
          = @receipts_previous_year_sum
      %tr
        %td
          = "Bugün Katılımcı Sayısı"
        %td
          = @receipts.count
      %tr
        %td
          = "Bugün Alınan Kongre Katılım Sayısı"
        %td
          = @kongre_today_count
      %tr
        %td
          = "Bugün Alınan Atölye Sayısı"
        %td
          = @atolye_today_count
      %tr
        %td
          = "2019 Katılımcı #{@diff}. Günü Katılımcı Sayısı"
        %td
          = @receipts_previous_year_today
    %p
      Günün Kongre Katılımcıları:
    %table{border:1,width:'100%'}
      - @receipts.each do |r|
        %tr
          %td
            = "#{r.applicant.name} #{r.applicant.surname}"
          %td
            = "#{r.price/100} TL"
          %td
            = "#{r.receipt_products.map{|rp| rp.product.name }}"
    %p
      %strong= "Toplam: #{@total} TL"
    %p
      Teşekkürler
